#genreContent {
    width: 370px;
    display: flex;
    ul {
        width: 400px;
        li {
            justify-content: space-between;
            display: flex;
            padding-bottom: 1rem;
            padding-top: 0.4rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            
            // .addFavoriteGenreButton {
            //     background-color: rgba(198, 247, 198, 0.205);
            // }
            // .removeFavoriteGenreButton {
            //     background-color: rgba(255, 208, 208, 0.213);
            // }
        }
    }
}