main {
    // margin-left: 60px;
    // margin-right: 60px;
    h1 {
        font-size: xx-large; // #TODO: Fikse font size calc 
        padding: 2rem;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        @media only screen and (max-width: 1300px) {
            flex-direction: column;
        }
        #moviesWatchLaterSection {
            display: flex;
            flex-direction: column;
            h2 {
                margin: 1rem;
                padding: 1rem;
            }
            ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                @media only screen and (max-width: 1300px) {
                    flex-direction: row;
                    align-items: center; 
                }
                @media only screen and (max-width: 725px) {
                    flex-direction: column;
                    width: 100%;
                }
                li {
                    flex: 1;
                }
            }
        }
        #wishlistSection {
            display: flex;
            flex-direction: column;
            h2 { 
                margin: 1rem;
                padding: 1rem;
                // margin-top: 1.7rem;
            }
            ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                @media only screen and (max-width: 1300px) {   
                    flex-direction: row;
                    align-items: center; 
                }
                @media only screen and (max-width: 725px) {
                    flex-direction: column;
                    width: 100%;
                }
                li {
                    flex: 1;
                }
            }
        }
        #watchTogetherSection {
            background-image: linear-gradient(rgb(187, 187, 187,), white);
            height: 400px;
            padding-top: 7px;
            padding-left: 10px;
            width: 40%;
            margin-top: 7.7rem;
            @media only screen and (max-width: 1300px) {   
                width: 100%;

            }
        }
    }
    #wishlistAndFavoritesSection {
        p {
            text-align: center;
        }
        #ul-wishlistAndFavoritesSection {
            display: flex;
            flex-wrap: wrap;
           justify-content: center;
            li {
                max-width: 400px;
            }
            
        }
    }
}