main {
    margin-left: 60px;
    margin-right: 60px;
    h1 {
        font-size: xx-large;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        @media only screen and (max-width: 1300px) {
            flex-direction: column;
        }
        #moviesWatchLaterSection {
            display: flex;
            flex-direction: column;
            h2 {
                margin: 1rem;
            }
            ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                @media only screen and (max-width: 1300px) {
                    flex-direction: row;
                    align-items: center; 
                }
                @media only screen and (max-width: 725px) {
                    flex-direction: column;
                    width: 100%;
                }
                li {
                    flex: 1;
                }
            }
        }
        #wishlistSection {
            display: flex;
            flex-direction: column;
            p { 
                margin: 1rem;
            }
            ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                @media only screen and (max-width: 1300px) {   
                    flex-direction: row;
                    align-items: center; 
                }
                @media only screen and (max-width: 725px) {
                    flex-direction: column;
                    width: 100%;
                }
                li {
                    flex: 1;
                }
            }
        }
        #watchTogetherSection {
            background-image: linear-gradient(rgb(187, 187, 187), white);
            height: 400px;
            padding-top: 7px;
            padding-left: 10px;
            width: 40%;
            @media only screen and (max-width: 1300px) {   
                width: 100%;
            }
        }
    }
}