body {
    
    #root{
        main {
            display: grid;
            justify-content: center;
            align-items: center;
        }
        footer {
            background-color: rgba(51, 29, 93, 0.311);
            height: 50px;
            width: 100%;
            margin-top: 3rem;
            bottom: 0;
            text-align: center;
            position: relative;
            bottom: -100%;
            p {
                align-self: baseline;
                padding-top: 10px;
            }
        }
    }
}
