body {
    #root{
        main {
            margin-left: 60px;
            margin-right: 60px;
        }
        footer {
            background-color: rgba(51, 29, 93, 0.311);
            height: 200px;
            margin-top: 3rem;
        }
    }
}
