.singleGenreContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .movieCard {
        max-width: 200px;
        align-self: flex-start;
        min-height: 675px;
    }
}
.pageselector{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    button{
        background-color: rgb(234, 234, 234);
        padding: 1rem 2rem;
        &:hover{
            background-color: black;
            color: white;
        }
        &:active{
            color: black;
            background-color: rgb(234, 234, 234);
        }
    }
}