#wishlistAndFavoritesSection {
    margin-top: 2.5rem;
    background-color: rgb(218, 218, 218);
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    h2 {
        text-align: center;
    }
}
#exploresection {
    background-color: rgba(51, 29, 93, 0.173);
    h2 {
        padding: 1rem;
        padding-bottom: 0px;
    }
    p {
        padding: 1rem;
    }
    a {
        color: rgb(200, 82, 103);
    }
    a:hover {
        text-decoration: underline;
      }
}